cloudinary==1.29.0
configparser==4.0.2
cryptography==2.9.2
distlib==0.3.4
Django==1.11.29
django-sendgrid-v5==1.2.0
enum34==1.1.6
pathlib2==2.3.6
psycopg2-binary==2.8.6
pyOpenSSL==19.0.0
pyparsing==2.0.1
python-dateutil==1.5
python-http-client==3.3.7
pytz==2013.7
sendgrid==6.9.7
typing==3.10.0.0
whitenoise-5.2.0