body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin: 0 !important;;
    padding:0 !important;
};

html {
    position: relative;
    min-height: 100%;
  };

  .navbar-toggler {
    color: white;
    outline: none !important;
    padding: 1%;
    background-color: rgba(0, 128, 128, 0)!important;
}

.card,span{
    border-radius: 10px;

}


span.text-dark {
    color: aqua;
}
a.link{
color: aquamarine;
}
.nav-btn{
padding: 3px;
color: black;
background-color:#088853f4;
}
.nav-btn:hover{
background-color:#088853;
color: black;
}
/* .card:hover{f0c9
    background-color: rgb(31, 146, 175);
    box-shadow: 0px 3px 6px #42424299;
} */
.card:hover button{
    /* background-color: rgb(142, 142, 84); */
    background-color:#088853 !important;
    box-shadow: 0px 3px 6px #42424299;
}


.card button{
    background-color: rgb(142, 142, 84);
    border-color: rgb(200, 200, 200);
}

.card button{
    color: #fff;
    background-color: rgb(142, 142, 84);
    outline:rgb(24, 191, 197)
}

.card .btn-block {
    outline: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    background-color: #007bff;
    border-color: #eff5fb;
}
/* .font-weight-normal,small:hover{
  color: #fff;
} */
 /* .text-primary span:hover{
    color: #fff;

} */


/* nav.efitness-navlinks a:hover{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
} */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

img{
    height:8vh;
}
li a{
    font-size:1.2rem
}

b{
    color: #f86b24;
    font-size:1.2em;
    margin-top: 10px;
    text-decoration: none;
    padding-right: 10px;
}
.link{
    font-size:1.2em;
}

a{
    color: rgb(8, 136, 83);
}

a:hover{
    text-decoration: none !important;
}

.icon{
    color: aqua;
    margin-left:20px
}

.button-style {
    background: none;
    color: #f86b24;
    background-color: rgba(0, 0, 0, 0.93);
    border: 2px solid;
    padding: 1em 2em;
    border-radius:7px;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
}
  
.button-style:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #98ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
    -webkit-transform: translateY(-0.25em);
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -o-transform: translateY(-0.25em);
}

footer {
    background-color: rgb(15, 2, 2);
    color: #fff;
    bottom: 0 ;
    position:fixed;
    width:100%;
    padding:0;
}
.not-auth{
    padding-left:20px
}
.not-auth li{
    display: inline;
}
.container {
    max-width: 960px;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.not-collapsed-nav ul{
    list-style-type: none
}
.not-collapsed-nav li{
    display: inline;
}
.nav-links-wrapper{
    border-bottom: 2px solid rgb(100, 90, 90);
    padding: 0;
}
.navbar-dark{
    background-color:#f86b24 !important
}
.dumbell-icon{
    font-size: 15px;
    color: white;
    padding: 10px
}
 .header-nav-links{
    list-style: none;
    width: 100%;
}
.header-nav-items{
   display: inline !important;
}
.header-nav-items li{
    display:inline;
    padding: 25px
}
.header-nav-items a{
    font-size: 1.5em;
    display: inline;
}
.navbar-toggler{
    color: white;
    outline: none !important;
    padding: 1%;
    background-color:teal
}
.small-navs-wrapper{
    margin-top: 25px;
   margin-left: 15%;
}
.small-navs-wrapper ul{
    list-style: none;
}
.small-navs-wrapper li{
    display: inline;
    padding: 20px;
    border-right: 1px solid salmon;
}
header{
    background-color:#088853
}
.footer-links p{
    display: inline;
    margin: 13px
}



.blurb h2 {
    color: #068359;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #000000;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}


 
ul {
    list-style-type: none;
    width: 600px;
  }
   
  h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  }
   
  li img {
    float: left;
    margin: 0 15px 0 0;
  }
   
  li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
  }
   
  li {
    padding: 10px;
    overflow: auto;
  }
   
  li:hover {
    background: rgb(188, 185, 185);
    cursor: pointer;
  }



  /*----  Main Style  ----*/
/* #cards_landscape_wrap-2{
    text-align: center;
    background: #bd4646;
    width: 100%;
  } */
  #cards_landscape_wrap-2 .container{
    padding-top: 20px; 
    padding-bottom: 10px;
    display: inline;
  }
  #cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
  }
  #cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: center;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    padding: 30px 18px;
  }
  #cards_landscape_wrap-2 .card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  #cards_landscape_wrap-2 .card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #00acc1;
  }