@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Oleo+Script+Swash+Caps:wght@400;700&family=Righteous&display=swap");

:root {
  --color-1: #563e2e;
  --color-2: #068359;
  --color-3: #e8a545;
}

body {
  background-color: rgb(253, 250, 250) !important;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-family: "Righteous", cursive;
}

html {
  scroll-behavior: smooth !important;
}
a:hover {
  text-decoration: none !important;
}

/* Navbar styles */
/* 
  This gives the nav logo text effect */
.retro {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 40pt;
  color: #f6ce91;
  /* margin-left: 25%; */
  margin-bottom: 10px;
  text-shadow:
      /* Border */ -0.01em 0.01em var(--color-1),
    0.01em -0.01em var(--color-1), 0.01em 0.01em var(--color-1),
    -0.01em -0.01em var(--color-1), /* 3D Shadow */ 0.01em 0.01em var(--color-1),
    0.02em 0.02em var(--color-1), 0.03em 0.03em var(--color-1),
    0.04em 0.04em var(--color-1), 0.05em 0.05em var(--color-1),
    0.06em 0.06em var(--color-1), 0.07em 0.07em var(--color-1),
    0.08em 0.08em var(--color-1), 0.09em 0.09em var(--color-1),
    0.1em 0.1em var(--color-1), 0.11em 0.11em var(--color-2),
    0.12em 0.12em var(--color-2), 0.13em 0.13em var(--color-2),
    0.14em 0.14em var(--color-2), 0.15em 0.15em var(--color-2),
    0.16em 0.16em var(--color-2), 0.17em 0.17em var(--color-2),
    0.18em 0.18em var(--color-2), 0.19em 0.19em var(--color-2),
    0.2em 0.2em var(--color-2), 0.21em 0.21em var(--color-3),
    0.22em 0.22em var(--color-3), 0.23em 0.23em var(--color-3),
    0.24em 0.24em var(--color-3), 0.25em 0.25em var(--color-3),
    0.26em 0.26em var(--color-3), 0.27em 0.27em var(--color-3),
    0.28em 0.28em var(--color-3), 0.29em 0.29em var(--color-3);
  cursor: pointer;
}

.navbrand-shadow {
  font-family: Mr Dafoe, sans-serif;
  font-size: 3em;
  text-align: left;
  margin-left: 7%;
  cursor: pointer;
  text-shadow: 0 -3px 0 #333, 0 6px 8px rgba(0, 0, 0, 0.4),
    0 9px 10px rgba(0, 0, 0, 0.15), 0 30px 10px rgba(0, 0, 0, 0.18),
    0 15px 10px rgba(0, 0, 0, 0.21);
}
.navbar-light {
  background-color: #f86b24 !important;
}
.nav-item a {
  font-size: 1.3em;
  color: #000000 !important;
}
.nav-link button {
  border: 1px solid #f6ce91;
  display: block;
  min-width: 50px;
  width: 90px;
  padding: 5px 10px;
  border-radius: 7px;
  background-color: #f86b24;
  outline: none;
  margin-bottom: 7px;
  cursor: pointer;
}
.nav-link button:hover {
  background-color: #068359 !important;
  border: none;
  transition: 1s;
  cursor: pointer;
}

.small-navs-wrapper ul {
  list-style: none;
  margin-right: 25% !important;
}
/* the nav below the header */
.small-navs-wrapper li {
  display: inline;
}
.small-nav-item:hover {
  border-bottom: #f86b24 !important;
}

.container {
  max-width: 960px;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.navbar-dark {
  background-color: #f86b24 !important;
}

/* header-styles */
.header-nav-items li {
  display: inline;
  padding: 10px 10px;
  text-decoration: none;
  padding-top: 10px;
}

.header-nav-items a {
  font-size: 1.5em;
  display: inline;
  text-decoration: none;
}
.header-nav-items img {
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Fitness quote */
.fa-quote-left {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 3px;
  color: #068359 !important;
}

.carousel-control-prev-icon {
  background-color: #068359 !important;
  color: #068359 !important;
  height: 5%;
  padding: 10px;
}

.carousel-control-next-icon {
  background-color: #068359 !important;
  color: #068359 !important;
  height: 5%;
  padding: 10px;
}

.blurb h2 {
  color: #068359;
  font-weight: 600;
  font-size: 2.5rem;
}

.blurb p {
  color: #000000;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.page-description {
  color: #068359;
}

#blog-container {
  margin: 5% auto;
  min-width: 200px;
  max-width: 800px;
}

#blog-container ul {
  list-style-type: none;
  width: 800px;
  padding: 10px;
}

#blog-container h3 {
  font: bold 20px/1.5 "Righteous", cursive;
}

#blog-container img {
  float: left;
  margin: 0 15px 0 0;
  height: 5% !important;
}

#blog-container li p {
  font: 200 15px/1.5 Georgia, Times New Roman, serif;
  margin: 1px;
}

#blog-container li {
  padding: 10px;
  overflow: auto;
}
#blog-container a {
  color: rgb(0, 0, 0) !important;
}

#blog-container li:hover {
  background: #eee;
  cursor: pointer;
}
.blog-heading {
  padding-top: 3%;
  margin-top: 20px;
  font-weight: bold;
  font-size: 2.5rem;
}
.gopremium-wrapper {
  padding: 1.5rem 1.5em;
  filter: url("#goo");
}

.button {
  display: inline-block;
  text-align: center;
  background: #068359;
  font-family: "Righteous", cursive;
  color: white !important;
  font-weight: bold;
  padding: 1.18em 1.32em 1.03em;
  line-height: 1;
  border-radius: 1em;
  position: relative;
  min-width: 8.23em;
  text-decoration: none;
  font-size: 1.25rem;
}

.button:before,
.button:after {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: #068359;
  border-radius: 50%;
  transition: transform 1s ease;
  transform: scale(0);
  z-index: -1;
}

.button:before {
  top: -25%;
  left: 20%;
}

.button:after {
  bottom: -25%;
  right: 20%;
}

.button:hover:before,
.button:hover:after {
  transform: none;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* .carousel styles */
.carousel .carousel-item {
  height: 600px;
}

.carousel-item img {
  position: center;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  object-fit: cover;
  width: 100%;
  height: 600px;
  margin: auto;
  top: 0;
  left: 0;
}

.arousel-indicators li {
  background-color: aqua !important;
}

h5 {
  font-family: "Kaushan Script", cursive !important;
  font-size: 2.5rem;
}

.page-title {
  text-align: center;
  font-size: 2.5em;
}
.page-lead{
  color:#068359 !important;
}

.hr-line {
  display: flex;
}

.hr-line:before,
.hr-line:after {
  content: "";
  flex: 1;
  border-bottom: 5px solid;
  margin: auto 0.25em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content {
  display: none;
}
.loadmore-wrapper {
  padding: 1.5rem 1.5em;
  margin-left: 45%;
  filter: url("#goo");
}

#loadMore {
  display: inline-block;
  text-align: center;
  background: #068359;
  font-family: "Righteous", cursive;
  color: white !important;
  font-weight: bold;
  padding: 1.18em 1.32em 1.03em;
  line-height: 1;
  border-radius: 1em;
  position: relative;
  min-width: 8.23em;
  text-decoration: none;
  font-size: 1.25rem;
  cursor: pointer;
}

#loadMore:before,
#loadMore:after {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: #068359;
  border-radius: 50%;
  transition: transform 1s ease;
  transform: scale(0);
  cursor: pointer;
  z-index: -1;
}

#loadMore:before {
  top: -25%;
  left: 20%;
}

#loadMore:after {
  bottom: -25%;
  right: 20%;
}

#loadMore:hover:before,
#loadMore:hover:after {
  transform: none;
}

/* sidebar-social icons */
.social-container {
  margin: 50px auto;
  width: 680px;
}

#social-sidebar {
  left: 0;
  margin-top: 100px;
  position: fixed;
  top: 10%;
}
#social-sidebar ul {
  padding-left: 0% !important;
}
#social-sidebar li:first-child a {
  border-radius: 0 5px 0 0;
}
#social-sidebar li:last-child a {
  border-radius: 0 0 5px 0;
}

#social-sidebar a {
  background: #121212;
  color: #fff !important;
  display: block;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  position: relative;
  text-align: center;
  width: 50px;
}

#social-sidebar a:hover span {
  left: 130%;
  opacity: 1;
}

#social-sidebar a span {
  border-radius: 3px;
  line-height: 24px;
  left: -100%;
  margin-top: -16px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  padding: 4px 8px;
  position: absolute;
  -webkit-transition: opacity 0.3s, left 0.4s;
  -moz-transition: opacity 0.3s, left 0.4s;
  -ms-transition: opacity 0.3s, left 0.4s;
  -o-transition: opacity 0.3s, left 0.4s;
  transition: opacity 0.3s, left 0.4s;
  top: 50%;
  white-space: nowrap;
  z-index: -1;
}

#social-sidebar a span:before {
  content: "";
  display: block;
  height: 8px;
  left: -4px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
  z-index: -2;
}

#social-sidebar a[class*="facebook"]:hover,
#social-sidebar a[class*="facebook"] span,
#social-sidebar a[class*="facebook"] span:before {
  background: #3455aa;
}

#social-sidebar a[class*="twitter"]:hover,
#social-sidebar a[class*="twitter"] span,
#social-sidebar a[class*="twitter"] span:before {
  background: #00aced;
}

#social-sidebar a[class*="gplus"]:hover,
#social-sidebar a[class*="gplus"] span,
#social-sidebar a[class*="gplus"] span:before {
  background: #dd4b39;
}

#social-sidebar a[class*="github"]:hover,
#social-sidebar a[class*="github"] span,
#social-sidebar a[class*="github"] span:before {
  background: #323131;
}

#social-sidebar a[class*="rss"]:hover,
#social-sidebar a[class*="rss"] span,
#social-sidebar a[class*="rss"] span:before {
  background: #f69536;
}

.noContent {
  color: rgb(255, 254, 254) !important;
  pointer-events: none;
}
/* Blog details-page styles */
article {
  max-width: 1000px;
  margin: 0 auto;
  z-index: 100;
}
article h1 {
  font-weight: 700;
  font-size: 3.5rem;
  font-family: "Righteous", cursive;
  border-width: 20%;
  color: #202020;
  margin-bottom: 0.25em;
  text-align: center;
}
article .metadata {
  margin-bottom: 1em;
}
article span {
  font-family: Merriweather;
  font-size: 1em;
  font-weight: 400;
  display: block;
  color: #666b75;
  text-align: center;
  margin-bottom: 0.25em;
}
article p {
  font-weight: 400;
  font-size: 1.15em;
  line-height: 1.4;
  color: #363636;
  margin-bottom: 1.1635em;
  padding: 0.2em;
}

@media only screen and (min-width: 768px) {
  article p {
    font-size: 1.3em;
  }
}

/* scroll-top */
.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white !important;
  background-color: #f86b24 !important;
  font-size: 12px;
  padding: 1em;
  display: none;
}

.go-top:hover {
  background-color: #068359;
}

a {
  color: #068359 !important;
}
a:hover {
  text-decoration: none !important;
}

/* footer-styles */
.footer {
  background-color: #212529;
  color: #fff;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 40px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #ffffff;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 10px 5px 250px !important;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}
.shadow-footer {
  font-family: Mr Dafoe, sans-serif;
  font-size: 3em;
  text-align: left;
  text-shadow: 0 -3px 0 rgb(249, 243, 243), 0 6px 8px rgba(255, 255, 255, 0.4),
    0 9px 10px rgba(0, 0, 0, 0.15), 0 30px 10px rgba(0, 0, 0, 0.18),
    0 15px 10px rgba(0, 0, 0, 0.21);
}
.retro-footer {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 35pt;
  color: #f6ce91;
  text-shadow: -0.01em 0.01em var(--color-1), 0.01em -0.01em var(--color-1),
    0.01em 0.01em var(--color-1), -0.01em -0.01em var(--color-1),
    /* 3D Shadow */ 0.01em 0.01em var(--color-1), 0.02em 0.02em var(--color-1),
    0.03em 0.03em var(--color-1), 0.04em 0.04em var(--color-1),
    0.05em 0.05em var(--color-1), 0.06em 0.06em var(--color-1),
    0.07em 0.07em var(--color-1), 0.08em 0.08em var(--color-1),
    0.09em 0.09em var(--color-1), 0.1em 0.1em var(--color-1),
    0.11em 0.11em var(--color-2), 0.12em 0.12em var(--color-2),
    0.13em 0.13em var(--color-2), 0.14em 0.14em var(--color-2),
    0.15em 0.15em var(--color-2), 0.16em 0.16em var(--color-2),
    0.17em 0.17em var(--color-2), 0.18em 0.18em var(--color-2),
    0.19em 0.19em var(--color-2), 0.2em 0.2em var(--color-2),
    0.21em 0.21em var(--color-3), 0.22em 0.22em var(--color-3),
    0.23em 0.23em var(--color-3), 0.24em 0.24em var(--color-3),
    0.25em 0.25em var(--color-3), 0.26em 0.26em var(--color-3),
    0.27em 0.27em var(--color-3), 0.28em 0.28em var(--color-3),
    0.29em 0.29em var(--color-3);
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: #068359;
  border-radius: 7px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #000000;
}

.footer-social-link.linkedin {
  height: 26px;
  top: 15px;
  width: 26px;
  font-size: 1.5em;
  left: -2px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 55px;
  top: 0;
  width: 28px;
  font-size: 1.5em;
}

.footer-social-link.youtube {
  height: 24px;
  left: 49%;
  top: 12px;
  width: 24px;
  font-size: 1.5em;
}

.footer-social-link.facebook {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
  font-size: 1.5em;
}

.footer-copyright {
  background-color: #000000;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  body {
    background-color: white !important;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    font-family: "Righteous", cursive;
  }
  .top-header-links {
    margin-left: 30% !important;
  }

  .small-navs-wrapper ul {
    margin-left: 46px !important;
  }
  .small-navs-wrapper li {
    display: inline;
  }

  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 20px 10px 900px !important;
    position: relative;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .top-header-links {
    margin-left: 40% !important;
  }
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    justify-content: center;
    padding: 20px 10px 1000px !important;
    position: relative;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  body {
    display: flow-root;
  }
  .top-header-links {
    margin-left: 50% !important;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
  /* .user-logged p {
    margin-left: 20% !important;
  } */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}
@media (min-width: 568px) {
}
