@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
:root {
    --footer-bg: #2e3d78;
    --color: #f2f3fb;
    --color-smooth: #9da2ae;
    --input-border: #4d6ac8;
    --btn-bg-color: #f1f2fc;
    --btn-hover-bg:#f86b24;
    --btn-color: #2c3965;
  }


body {
    background-color: rgb(254, 251, 251)!important;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    /* margin: 0; */
    padding: 0;
    font-family: 'Righteous', cursive;
};



  html { 
    background-color: rgb(201, 52, 52)!important;
    scroll-behavior: smooth !important; 
    position: relative;
    min-height: 100%;
    height: 100vh;
  }
  a:hover {
    text-decoration: none !important;
  }


/* Navbar styles */
  .shadow{
    font-family:Mr Dafoe, sans-serif;
    font-size:4em;
    text-align:left;
    margin-left:95%;
    text-shadow: 0 -3px 0 #333,
      0 6px 8px rgba(0,0,0,.4),
      0 9px 10px rgba(0,0,0,.15),
      0 30px 10px rgba(0,0,0,.18),
      0 15px 10px rgba(0,0,0,.21);

  }

.sign {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 2%;
  width: 12%;
  height: 40%;
  background-image: radial-gradient(
    ellipse 60% 45% at 50% 50%,
    black,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 7%;
  top: 50%;
    font-family: 'Righteous', cursive;
  text-transform: uppercase;
  font-size: 6em;
  color: black;
  text-shadow: 0 0 0.6rem #068359, 0 0 1.5rem #055256,
    -0.2rem 0.1rem 1rem #068359, 0.2rem 0.1rem 1rem #0c8959,
    0 -0.5rem 2rem black, 0 0.5rem 3rem #068359;
  animation: shine 1s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: black;
  text-shadow: 0 0 0.6rem #068359, 0 0 1.5rem #055256,
    -0.2rem 0.1rem 1rem #068359, 0.2rem 0.1rem 1rem #0c8959,
    0 -0.5rem 2rem black, 0 0.5rem 3rem #068359;
  }
  28%,
  33% {
    color: #068359;
    text-shadow: none;
  }
  82%,
  97% {
    color: #068359;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: black;
    text-shadow: none;
  }
  100% {
    color: black;
  text-shadow: 0 0 0.6rem #068359, 0 0 1.5rem #055256,
    -0.2rem 0.1rem 1rem #068359, 0.2rem 0.1rem 1rem #0c8959,
    0 -0.5rem 2rem black, 0 0.5rem 3rem #068359;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

 .small-navs-wrapper ul{
    list-style: none;
    margin-right:  50px !important;
} 
/* the nav below the header */
.small-navs-wrapper li{
    display: inline;
}
.small-nav-item:hover{
  border-bottom: #f86b24 !important;
}
.small-navs-wrapper  img{
  padding:0;
  margin-left: 1%;
}

.container {
  max-width: 960px;
  margin-bottom: 0 ;
  padding-bottom: 15px;
} 
.login-signup-links {
  padding-left:20px;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none!important;
}

.login-signup-links li{
  display: inline;
  padding-left:20px
}

.navbar-dark{
  background-color:#f86b24 !important
} 



/* header-styles */ 
.header-nav-items li{
  display:inline;
  padding: 15px 5px;
  text-decoration:none;
  padding-top: 10px;
}

.header-nav-items a{
  font-size: 1.5em;
  display: inline;
  text-decoration: none 
}
.header-nav-items img{
  margin-right: 5px;
  margin-top: 10px;
}


/* Fitness quote */
.fa-quote-left{
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 3px;
  color: #068359 !important;
}




  .carousel-control-prev-icon {
    background-color: #068359!important;
    color: #068359 !important;
    height: 5%;
    padding:10px
}
      
.carousel-control-next-icon {
  background-color: #068359!important;
  color: #068359 !important;
  height: 5%;
  padding:10px
}


.blurb h2 {
  color: #068359;
  font-weight: 600;
  font-size: 2.5rem;
}

.blurb p {
  color: #000000;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.form-control:focus {
border-color: inherit;
-webkit-box-shadow: none;
box-shadow: none;
}
/* .carousel styles */
.carousel .carousel-item {
  height: 600px;
}

.carousel-item img {
    position:center;
    background-size: cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    object-fit:cover;
    width: 100%;
    height: 600px;
    margin: auto; 
    top: 0;
    left: 0;
}


h5{
    font-family: 'Kaushan Script', cursive !important;
    font-size:2.5rem
}


.hr-line {
  display: flex;
}

.hr-line:before,
.hr-line:after {
  /* color:white; */
  content: '';
  flex: 1;
  border-bottom: 5px solid;
  margin: auto 0.25em;
  /* box-shadow: 0 -1px; */
}

/* .hr-droid {
  display: flex;
  flex-direction: row;
}
.hr-line{
  width: 50%;
  position: relative;
  margin: 15px;
  border-bottom: 5px solid #a4c639;
}
.green{
   border-color: #a4c639;
}
.purple {
  border-color: #9860d1;
} */

/* 
.triangle {
position: absolute;
width: 0;
height: 0;
border-top: 28vh solid #ff4081;
border-right: 40vw solid transparent;
opacity: 0.90;
z-index: -1;
transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
}
.triangle-2 {
position: absolute;
width: 0;
height: 0;
border-top: 25vh solid #cecdfe;
border-right: 75vw solid transparent;
opacity: 0.90;
z-index: -2;
transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
}

.triangle-3 {
position: absolute;
display: block;
right: 0;
width: 0;
height: 0;
border-top: 25vh solid #4b007d;
border-left: 75vw solid transparent;
opacity: 0.90;
z-index: -3;
transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
}

.t-container {
position: relative;
top: 20vh;
padding: 50px 1em;
max-width: 1000px;
margin: 0 auto;
z-index: 100;
} */

/* 
@media only screen and (min-width: 768px) {

.triangle {
  border-top: 120vh solid #ff4081;
  border-right: 35vw solid transparent;
}
.triangle-2 {
  border-top: 120vh solid #cecdfe;
  border-right: 40vw solid transparent;
}
.triangle-3 {
  display: none;
}
.container {
  top: 10vh;
}
} */

/* Blog styles */


/* Blog details-page styles */
article {
max-width: 700px;
margin: 0 auto;
z-index: 100;
}
article h1 {
font-family: 'Merriweather';
font-weight: 700;
font-size: 3.5rem;
color: #202020;
margin-bottom: 0.25em;
text-align: center;
}
article .metadata {
margin-bottom: 1em;
}
article span {
font-family: Merriweather;
font-size: 1em;
font-weight: 400;
display: block;
color: #828385;
text-align: center;
margin-bottom: 0.250em
}
article p {
font-family: 'PT Sans';
font-weight: 400;
font-size: 1.150em;
line-height: 1.4;
color: #363636;
margin-bottom: 1.1635em;
letter-spacing: -0.0040em;
padding: 0.50em;
}

@media only screen and (min-width: 768px) {
article p {
  font-size: 1.30em;
}
}


  /* scroll-top */

  .go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white !important;
    background-color:  #f86b24 !important;
    font-size: 12px;
    padding: 1em;
    display: none;
  }
  
  .go-top:hover {
    background-color: #068359;
  }
  

/* footer-styles */
footer {
  font-size: 15px;
  background: var(--footer-bg);
  padding: 1em 2em;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1em;
  font-family: 'Righteous', cursive;
}

footer ul {
  list-style: none;
}

.col {
  flex: 1;
}

.col-title {
  font-family: 'Righteous', cursive;
  font-weight: bold;
  color: var(--color);
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.em 0;
  margin-left: 13% !important;
}

.col-list a {
  color: var(--color-smooth) !important;
  text-decoration: none;
  line-height: 1.4;
  font-weight: 300;
}

.col-list a:hover,
.col-list a:focus {
  text-decoration: underline;
}

.subscribe-form,
.social-media {
  display:flex;
  gap: 0.5em;
  padding: 0.5em 0;
}
.facebook{
  color: #fbfdff !important;
}
.twitter{
  color:  #1DA1F2!important
}
.instagram{
  color:#833AB4!important;
}
.subscribe-input {
  width: auto;
  flex: 1;
  background: transparent;
  border: 0.06em solid var(--input-border);
  font-size: 1em;
  font-weight: 500;
  padding-right: 0.5em;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: var(--color-smooth);
}

.subscribe-input:focus {
  outline: none;
  border-color: var(--color);
  color: var(--color);
}

.subscribe-btn {
  background:#f86b24;
  border: none;
  font-size: 1em;
  outline: none;
  font-weight: 600;
  padding: 0.5em;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: var(--btn-color);
  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background: var(--btn-hover-bg);
}

.form-title,
.social-col-title {
  font-size: 1em;
  color: var(--color);
  font-weight: 500;
  margin-right: -20px;
}
h3.social-col-title{
  margin-left: 17% !important;
}
.social-media {
  flex-direction: column;
}

.social-media-list {
  display: flex;
  gap: 0.3rem;
}

.social-media-list a {
  padding: 0.5em;
  color: var(--color-smooth);
  display: flex;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
}

.social-media-list a:hover,
.social-media-list a:focus {
  color: var(--color);
  background: #e9e5e51a;
}

.social-media-list svg {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.25s ease 0s;
}

@media screen and (max-width: 750px) {
  footer {
    padding: 2em;
    flex-direction: column;
  }
}


a{
color: #068359 !important;
}
a:hover{
text-decoration: none !important;
}

