{% extends 'plans/base.html' %}
{% block content %}
<div class="loginpage-wrapper  pb-5">
  <div class="login-page-container">
    <div class="col-left">
    
    </div>
    <div class="col-right">
      <div class="login-form">
        <h2>Login</h2>
        <form  method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <p>
            <input class="btn" type="submit" value="Sing In" />
          </p>
          <p>
            <a href="">Forget password?</a>
            <a href="">Create an account.</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% include "../plans/footer.html" %}
