{% extends 'plans/base.html' %}
{% block content %}
<div class="container" style="display: block;
margin: 17% auto;">
  {% if cancel_at_period_end %}
<p>Your membership will run to the end of your billing cycle.</p>
  {% elif membership %}
  <form action="{% url 'settings' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Cancel Membership?">
  </form>
  {% else %}
 <h4 class='mt-5'> <a href="{% url 'join' %}">Get a membership</a></h4>
 <h4 class='mt-5'> <a href="{% url 'join' %}">Delete your account</a></h4>
  {% endif %}
</div>
{% endblock %}
{% include "../plans/footer.html" %}