{% extends 'plans/base.html' %}




{% block content %}
<div class="wrapper p-5" >
  <div class="signUp-page-container">
    <div class="col-left">
      <div class="login-text">
        <h2>Logo</h2>
        <p>
         Evans fitness Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget eros dapibus, ultricies tellus vitae, consectetur tortor. Etiam rutrum placerat
        </p>
        <a class="btn" href="">Read More</a>
      </div>
    </div>
    <div class="col-right">
      <div class="login-form">
        <h2>Sign Up</h2>
        <form  method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" >Sign up</button>
       
          <p>
            <a href="">Forget password?</a>
            <a href="">Create an account.</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} 