{% extends 'plans/base.html' %}
{% block content %}
{%load static%}
<div class="signuppage-wrapper" >
  <p style="padding:5%; font-size:1.9em;font-weight:500; color:#094049;">Signing up to EA fitness account, it is free of charge</p>
  <div class="signUp-page-container">
    <div class="signup-col-left">
 
    </div>
    <div class="signup-col-right">
      <div class="signup-form">
        <h2>Sign Up</h2>
        <form  method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="signup-btn" >Sign up</button>
       
          <p>
            <a href="">Forget password?</a>
            <a href="">Create an account.</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} 