@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
:root {
    --footer-bg: #2e3d78;
    --color: #f2f3fb;
    --color-smooth: #9da2ae;
    --input-border: #4d6ac8;
    --btn-bg-color: #f1f2fc;
    --btn-hover-bg: #d5d9f6;
    --btn-color: #2c3965;
  }


body {
    background-color: rgb(54, 5, 5)!important;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
};
  
  html { 
    scroll-behavior: smooth; 
    position: relative;
    min-height: 100%;
  }

  a:hover {
    text-decoration: none !important;
  }


  /* scroll-top */

  .scrolltop {
    display:none;
    width:100%;
    margin:0 auto;
    position:fixed;
    bottom:20px;
    right:10px;	
    transition: 0.9s;
    -moz-transition: 0.9s;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s; 	
  }
  .scroll {
    position:absolute;
    right:20px;
    bottom:20px;
    background:#f86b24;
    background:#f86b24;
    padding:20px;
    text-align: center;
    margin: 0 0 0 0;
    cursor:pointer;
    transition: 0.9s;
    -moz-transition: 0.9s;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s; 		
  }
  .scroll:hover {
    background:#068359;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 		
  }
  .scroll:hover .fa {
    padding-top:-10px;
  }
  .scroll .fa {
    font-size:30px;
    margin-top:-5px;
    margin-left:1px;
    transition: 0.9s;
    -moz-transition: 0.9s;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s; 	
  }


 .small-navs-wrapper ul{
    list-style: none;
    margin-right:  50px !important;
} 
/* the nav below the header */
.small-navs-wrapper li{
    display: inline;
}
.small-nav-item:hover{
  border-bottom: #f86b24 !important;
}
.small-navs-wrapper  img{
  padding:0;
  margin-left: 1%;
}

.container {
  max-width: 960px;
  margin-bottom: 0 ;
  padding-bottom: 15px;
} 
.login-signup-links {
  padding-left:20px;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none!important;
}

.login-signup-links li{
  display: inline;
  padding-left:20px
}

.navbar-dark{
  background-color:#f86b24 !important
} 
.header-nav-items li{
  display:inline;
  padding: 15px 5px;
  text-decoration:none;
  padding-top: 10px;
}

.header-nav-items a{
  font-size: 1.5em;
  display: inline;
  text-decoration: none 
}
.header-nav-items img{
  margin-right: 5px;
  margin-top: 10px;
}

.fa-quote-left{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 3px;
}

.footer-links p{
    display: inline;
    margin: 13px
}

.blurb h2 {
    color: #068359;
    font-weight: 600;
    font-size: 2.5rem;
}

.blurb p {
    color: #000000;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 2;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.carousel .carousel-item {
    height: 600px;
  }
  
  .carousel-item img {
      position:center;
      background-size: cover !important;
      background-position: center!important;
      background-repeat: no-repeat!important;
      object-fit:cover;
      width: 100%;
      height: 600px;
      margin: auto; 
      top: 0;
      left: 0;
  }


  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
      
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}



h5{
    font-family: 'Kaushan Script', cursive !important;
    font-size:2.5rem
}
/* footer-styles */

footer {
    font-size: 16px;
    background: var(--footer-bg);
    padding: 1em 2em;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1em;
    font-family: 'Righteous', cursive;
  }
  
  footer ul {
    list-style: none;
  }
  
  .col {
    flex: 1;
  }
  
  .col-title {
    font-family: 'Righteous', cursive;
    font-weight: bold;
    color: var(--color);
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.em 0;
    margin-left: 13% !important;
  }
  
  .col-list a {
    color: var(--color-smooth) !important;
    text-decoration: none;
    line-height: 1.4;
    font-weight: 400;
  }
  
  .col-list a:hover,
  .col-list a:focus {
    text-decoration: underline;
  }
  
  .subscribe-form,
  .social-media {
    display: flex;
    gap: 0.5em;
    padding: 0.5em 0;
  }
  .facebook{
    color: #fbfdff !important;
}
.twitter{
    color:  #1DA1F2!important
}
.instagram{
    color:#833AB4!important;
}
  .subscribe-input {
    width: auto;
    flex: 1;
    background: transparent;
    border: 0.06em solid var(--input-border);
    font-size: 1em;
    font-weight: 500;
    padding-right: 0.5em;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
    display: inline-block;
    color: var(--color-smooth);
  }
  
  .subscribe-input:focus {
    outline: none;
    border-color: var(--color);
    color: var(--color);
  }
  
  .subscribe-btn {
    background: var(--btn-bg-color);
    border: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
    display: inline-block;
    color: var(--btn-color);
    cursor: pointer;
  }
  
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background: var(--btn-hover-bg);
  }
  
  .form-title,
  .social-col-title {
    font-size: 1em;
    color: var(--color);
    font-weight: 500;
    margin-right: -20px;
  }
  h3.social-col-title{
    margin-left: 17% !important;
  }
  .social-media {
    flex-direction: column;
  }
  
  .social-media-list {
    display: flex;
    gap: 0.3rem;
  }
  
  .social-media-list a {
    padding: 0.5em;
    color: var(--color-smooth);
    display: flex;
    border-radius: 0.3em;
    transition: all 0.25s ease 0s;
  }
  
  .social-media-list a:hover,
  .social-media-list a:focus {
    color: var(--color);
    background: #e9e5e51a;
  }
  
  .social-media-list svg {
    width: 1.5em;
    height: 1.5em;
    transition: all 0.25s ease 0s;
  }
  
  @media screen and (max-width: 750px) {
    footer {
      padding: 2em;
      flex-direction: column;
    }
  }
  




a{
  color: #068359 !important;
}
a:hover{
  text-decoration: none !important;
}

/* 
.triangle {
position: absolute;
width: 0;
height: 0;
border-top: 28vh solid #ff4081;
border-right: 40vw solid transparent;
opacity: 0.90;
z-index: -1;
transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
}
.triangle-2 {
position: absolute;
width: 0;
height: 0;
border-top: 25vh solid #cecdfe;
border-right: 75vw solid transparent;
opacity: 0.90;
z-index: -2;
transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
}

.triangle-3 {
position: absolute;
display: block;
right: 0;
width: 0;
height: 0;
border-top: 25vh solid #4b007d;
border-left: 75vw solid transparent;
opacity: 0.90;
z-index: -3;
transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
}

.t-container {
position: relative;
top: 20vh;
padding: 50px 1em;
max-width: 1000px;
margin: 0 auto;
z-index: 100;
} */

/* 
@media only screen and (min-width: 768px) {

.triangle {
  border-top: 120vh solid #ff4081;
  border-right: 35vw solid transparent;
}
.triangle-2 {
  border-top: 120vh solid #cecdfe;
  border-right: 40vw solid transparent;
}
.triangle-3 {
  display: none;
}
.container {
  top: 10vh;
}
} */


article {
max-width: 700px;
margin: 0 auto;
z-index: 100;
}
article h1 {
font-family: 'Merriweather';
font-weight: 700;
font-size: 3.5rem;
color: #202020;
margin-bottom: 0.25em;
text-align: center;
}
article .metadata {
margin-bottom: 1em;
}
article span {
font-family: Merriweather;
font-size: 1em;
font-weight: 400;
display: block;
color: #828385;
text-align: center;
margin-bottom: 0.250em
}
article p {
font-family: 'PT Sans';
font-weight: 400;
font-size: 1.150em;
line-height: 1.4;
color: #363636;
margin-bottom: 1.1635em;
letter-spacing: -0.0040em;
padding: 0.50em;
}

@media only screen and (min-width: 768px) {
article p {
  font-size: 1.30em;
}
}

.shadow{
  font-family:Mr Dafoe, sans-serif;
  font-size:16em;
  text-align:center;
  text-shadow: 0 -3px 0 #333,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}