{% extends 'plans/base.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper">
  <section class="blogs" id="blogs">
    <h1 class="page-title">Beauty</h1>
    <p class="text-center page-lead">
      In case no one has told you this yet today, you look beautiful.
    </p>
    <ul class="blogList">
      {%for beautyBlog in beautyBlogs.all%}
       <li>
        <img src="{{ beautyBlog.image.url}}" alt="blog image">
        <h3>{{beautyBlog.title}}</h3>
        <p>{{beautyBlog.description}}</p>
        <a  href="{% url 'beauty' beautyBlog.id %}">Read more <i class="fa-solid fa-dumbbell teamIcon"></i></a>
      </li>
      {%endfor%}
      </ul>
  </section>
  {%if beautyBlogs.all%}
  <div class="loadmore-wrapper">
      <a href="#" id="loadMore">Load More</a>
  </div>
  {%endif%}
</div>
{% endblock %}

