
{% extends 'plans/base.html' %}
{%block content%}
{% load static %}
<main>
    <article>
      <h1 class="pt-5">{{blog.title}}</h1>
      <div class="metadata">
        <em><span style="color: #068359; font-weight: bold;" class="author">by Evans Ansong</span></em>
        <span class="date">{{blog.date}}</span>
      </div>
      <img src="{{ blog.image.url }}" alt="" height="500" width="800" alt="blog image">
    <p>
    {{blog.text}}
    </p>
    </article>
    </div>
    </main>
{%endblock%}