{% extends 'plans/base.html' %}
{%block content%}
{% load static %}
<!-- {% include "interface/carosel.html" %} -->
<h1 class="text-center blog-heading">Latest blogs</h1>
<p class="lead text-center">
     Read out latest blogs on how to get fit and imporve your life substantially because we <br>
  have so many things to do that we fortget that we are in trhe same race ad do this at teh same time 
</p>

<div class='container-fluid' id='blog-container'>
    {%for blog in blogs.all%}
    <ul>
      <li>
        <a href="{%url 'blogdetail' blog.id %}">
          <img src="{{ blog.image.url}}" width='200'/>
          <h3>{{blog.title}}</h3>
          <p>{{blog.summary}}</p>
          <small class="text-muted" >{{blog.date}}</small>
        </a>
      </li>
    </ul>
    {%endfor%}
    </div>
{%endblock%}



