{% extends 'plans/base.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper">
  <section class="blogs" id="blogs">
    <h1 class="page-title">Culture</h1>
    <p class="text-center page-lead">
      It all leads to one
    </p>
    <img src="{% static 'images/culture.png' %}" alt="" srcset="" height="70" width="70" class="page-leadimg" >
    <ul class="blogList">
      {%for cultureBlog in cultureBlogs.all%}
       <li>
        <img src="{{ cultureBlog.image.url}}" alt="humpback whales">
        <h3>{{cultureBlog.title}}</h3>
        <p>{{cultureBlog.summary}}</p>
        <a  href="{% url 'culture' cultureBlog.id %}">Read more <i class="fa-solid fa-dumbbell teamIcon"></i></a>
      </li>
      {%endfor%}
      </ul>
  </section>
  {%if cultureBlogs.all%}
  <div class="loadmore-wrapper">
      <a href="#" id="loadMore">Load More</a>
  </div>
  {%endif%}
</div>
{% endblock %}