{% extends 'plans/base.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper">
  <section class="blogs" id="blogs">
    <h1 class="page-title">Fitness</h1>
    <p class="text-center page-lead">Get Ready, sweat, go!</p>
    <ul class="blogList">
      {%for fitnessBlog in fitnessBlogs.all%}
       <li>
        <img src="{{ fitnessBlog.image.url}}" alt="humpback whales">
        <h3>{{fitnessBlog.title}}</h3>
        <p>{{fitnessBlog.summary}}</p>
        <a href="{% url 'fitness' fitnessBlog.id %}">Read more <i class="fa-solid fa-dumbbell teamIcon"></i></a>
      </li>
      {%endfor%}
      </ul>
  </section>
  {%if fitnessBlogs.all%}
  <div class="loadmore-wrapper">
      <a href="#" id="loadMore">Load More</a>
  </div>
  {%endif%}
</div>
{% endblock %}

