{% extends 'plans/base.html' %}
{% block content %}
{% load static %}
<h1 class=" py-3 page-title">Fitness</h1>
<p class="text-center page-lead">Get Ready, sweat, go!</p>
<link rel="stylesheet" type="text/css"  href="{% static 'css/card.css' %}">
  <div class="container-fluid main">
      <div class="row">
        {% for fitnessBlog in fitnessBlogs.all %}
        <div class="col-md-4xπ">
          <div class="main">
              <ul class="cards flex">
                  <li class="cards_item content">
                    <div class="card">
                      <div class="card_image"><img  src="{{ fitnessBlog.image.url}}"></div>
                      <div class="card_content">
                        <h2 class="card_title">{{fitnessBlog.title}}</h2>
                        <p class="card_text">{{ fitnessBlog.summary}}</p>            
                        <a href="{% url 'love' fitnessBlog.id %}">
                            <button class="btn card_btn">Read More <i class="fa-solid fa-dumbbell"></i></button>
                        </a>
                      </div>
                    </div>
                  </li>
              </ul>
            </div>
        </div>
        {% endfor %}
      </div>
      {%if fitnessBlogs.all%}
      <div class="loadmore-wrapper">
          <a href="#" id="loadMore">Load More</a>
      </div>
      {%endif%}
    </div>
{% endblock %}

