{% extends 'plans/base.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper">
  <section class="blogs" id="blogs">
    <h1 class="page-title">Food</h1>
    <p style="text-align:center">
      Did someone say meal prep?
    </p>
    <img src="{% static 'images/food.png' %}" alt="" srcset="" height="70" width="70" class="page-leadimg" >
    <ul class="blogList">
      {%for foodBlog in foodBlogs.all%}
       <li>
        <img src="{{ foodBlog.image.url}}" alt="humpback whales">
        <h3>{{foodBlog.name}}</h3>
        <p>{{foodBlog.description}}</p>
        <a  href="{% url 'food' foodBlog.id %}">Read more <i class="fa-solid fa-dumbbell teamIcon"></i></a>
      </li>
      {%endfor%}
      </ul>
  </section>
  {%if loveBlogs.all%}
  <div class="loadmore-wrapper">
      <a href="#" id="loadMore">Load More</a>
  </div>
  {%endif%}
</div>
{% endblock %}