{% extends 'plans/base.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper">
  <section class="blogs" id="blogs">
    <h1 class="page-title">Health</h1>
    <p class="text-center page-lead">
      Hold on, I gotta overthink about it.
    </p>
    <img src="{% static 'images/heartbeat .png' %}" alt="" srcset="" height="70" width="70" class="page-leadimg" >
    <ul class="blogList">
      {%for healthBlog in healthBlogs.all%}
       <li>
        <img src="{{ healthBlog.image.url}}" alt="humpback whales">
        <h3>{{healthBlog.title}}</h3>
        <p>{{healthBlog.summary}}</p>
        <a  href="{% url 'health' healthBlog.id %}">Read more <i class="fa-solid fa-dumbbell teamIcon"></i></a>
      </li>
      {%endfor%}
      </ul>
  </section>
  {%if healthBlogs.all%}
  <div class="loadmore-wrapper">
      <a href="#" id="loadMore">Load More</a>
  </div>
  {%endif%}
</div>
{% endblock %}