{% extends 'plans/base.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper">
  <section class="blogs" id="blogs">
    <h1 class="page-title">love</h1>
    <p class="text-center page-lead">
      If you love me, let me sleep.
    </p>
    <img src="{% static 'images/love.png' %}" alt="" srcset="" height="70" width="70" class="page-leadimg" >
    <ul class="blogList">
      {%for loveBlog in loveBlogs.all%}
       <li>
        <img src="{{ loveBlog.image.url}}" alt="humpback whales">
        <h3>{{loveBlog.title}}</h3>
        <p>{{loveBlog.summary}}</p>
        <a  href="{% url 'love' loveBlog.id %}">Read more <i class="fa-solid fa-dumbbell teamIcon"></i></a>
      </li>
      {%endfor%}
      </ul>
  </section>
  {%if loveBlogs.all%}
  <div class="loadmore-wrapper">
      <a href="#" id="loadMore">Load More</a>
  </div>
  {%endif%}
</div>
{% endblock %}