{% include "interface/header.html" %}
{% load static %}
  <section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <div class="navbrand-shadow"><span class="retro">EA.</span>Fitness</div>
    
     {%if user.is_authenticated%}
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'settings'%}">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'logout'%}">LogOut</a>
        </li>
      </ul>
    </div>
     {%else%}
     <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'login'%}">
            <button>Sign In</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'signup'%}">SignUp</a>
        </li>
      </ul>
    </div>
     {%endif%}
    </nav>
  </section>