{% extends 'plans/base.html' %}
{% block content %}
{%load static%}
  <main>
  <section class="home-content">
    <h1>EA FITNESS</h1>
    <h4>
     <span class="comma">“</span>A little progress each day adds up to big results<span>”</span>
    </h4>
    <i class="fa-solid fa-dumbbell" style="font-size:2em;margin-top: 1%;color:#0F8896"></i>
  </section>
    <section class="blogs" id="blogs">
      <h2 class="hr-line">What's Popular In Fitness</h2>
      <article>
        <p>
          We have blogs to guide you on how to take control and over your body and gain the confidence you Lorem ipsum, dolor sit amet
           consectetur adipisicing elit. Laborum iusto nemo at, repudiandae id eos tempora ex, voluptatem laboriosam 
        </p>
      </article>
      <ul class="blogList">
          {%for plan in plans.all%}
         <li>
          <img src="{{ plan.image.url}}" alt="blog image">
          <h3 id="page-title">{{plan.title}}</h3>
          <p id="page-desc">{{plan.summary}}</p>
          <a  href="{% url 'plan' plan.id %}">
           Read more
            <i class="fa-solid fa-dumbbell teamIcon"></i>
          </a>
        </li>
        {%endfor%}
        </ul>
    </section>
  
  
    <!-- CTA1 -->
    <section class="cta cta1">
      <h1>Experience</h1>
      <p>Our trainers are qualified enough to give you the right training that is enough to make you reach your goal in body building</p>
    </section>
    <!-- Team -->
    <section class="team" id="team">
      <h1> 
        <i class="fa-solid fa-dumbbell teamIcon"></i><br/>
        Know more about us.
      </h1>
      <ul class="teamMembers">
        <li><img  src="{% static 'images/team.jpeg' %}" alt="team member"></li>
        <li><img  src="{% static 'images/team1.jpeg' %}" alt="team member"></li>
        <li><img  src="{% static 'images/team2.jpeg' %}" alt="team member"></li>
        <li><img  src="{% static 'images/team.jpeg' %}" alt="team member"></li>
      </ul>
      <p>
        We have the best Coaches and fitness trainers to help you get the ebst result in the time as you need Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Dignissimos a sit tenetur exercitationem laudantium. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, reprehenderit
        <a href="#" class="tomore-btn">Meet our Coaches</a></p>
    </section>
    <!-- CTA2 -->
    <section class="cta cta2">
      <h1>Education</h1>
      <p>
        Fitness means different things to different people and Health has something for everyone, whether you're just getting started with a workout
         routine or have been training since before TikTok was a thing.
        Get our latest expert moves, pro-tips, and recommendations for who to follow and where to look for essentials.
      </p>
    </section>
  
    <!-- Problem -->
    <section class="problem" id="problem">
      <h1>Personal training</h1>
      <p>
        Whether you’d like more personal training sessions with your current coach or are just getting started with virtual
         or in-club personal training, log in now to see the fitness offers available at gyms near you.
      </p>
      <h3>Here are just  few things to expect</h3>
      <ul>
        <li>It is designed to fit your training style</li>
        <li>Virtual Personal Training </li>
        <li>Virtual Group Training</li>
      </ul>
    </section>
  
  
    <!-- Actions -->
    <section class="action">
      <article>
        <h1>Group Training</h1>
        <p>
          Be the first to experience our exclusive new group training program, designed to keep you inspired and progressing with ever-changing workouts designed by experts. Join us in our exclusive training space. With dedicated coaches and exciting group energy, you’ll finish feeling on top of the world.
        </p>
      </article>
      <h1 class="pages-title">
        The Best guides. For Your Effective Results.
      </h1>
      <P>
        Get back to the gym and back to your best with EA Fitness. Our contents are waiting for you, with thousands of square feet of premium strength and cardio equipment, turf zones, lap pools, steam rooms and more. And with expert coaching and our app at the ready, you’ll have 24/7 support to help you get results.
      </P>
      <ul>
        <li>
          <h1></h1>
          <h4>Fitness</h4>
          <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus et aspernatur dolore nulla repudiandae, exercitationem vero.
            Veritatis fugiat qui non veniam id eligendi? Itaque tenetur fuga quis? Veniam, temporibus voluptatibus!
              <a href="{% url 'fitnessBlogs' %}" class="tomore-btn">Learn more</a>
            </p>
        </li>
        <li>
          <h1></h1>
          <h4>Food</h4>
          <p>
          Food is esseential Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias excepturi omnis dolores maiores enim, veniam deleniti alias ipsum voluptatum, 
          iure placeat at soluta quidem iusto laborum molestiae atque aliquid inventore.
             <a href="{% url 'foodsPage' %}"  class="tomore-btn">Learn more</a>
          </p>
        </li>
        <li>
          <h1></h1>
          <h4>Love</h4>
          <p>Do you Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, nisi? At nam, voluptatibus accusamus aspernatur odit quo eveniet placeat ex autem,
             eligendi itaque nostrum possimus sapiente, iusto sint vero dolorem nulla! Reprehenderit.
             <a href="{% url 'loveBlogs' %}"  class="tomore-btn">Learn more</a>
            </p>
        </li>
        <li>
          <h1></h1>
          <h4>Health</h4>
          <p>Every year, governments spend billions Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet. Fugit numquam molestias ullam voluptatem at obcaecati incidunt, nemo libero maxime 
            deleniti dolorem nostrum porro consequatur commodi nam dolores laborum, cumque tenetur!
            <a href="{% url 'healthBlogs' %}"  class="tomore-btn">Learn more</a>
          </p>
        </li>
        <li>
          <h1></h1>
          <h4>Beauty</h4>
          <p>Today, only 2% of Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium nobis repudiandae quaerat eum neque, eos iste quibusdam dolores ad accusamus
             repellendus distinctio dicta cum vel ipsam, est reiciendis libero id!
            <a href="{% url 'beautyBlogs' %}"  class="tomore-btn">Learn more</a>
          </p>
        </li>
        <li>
          <h1></h1>
          <h4>Culture</h4>
          <p>Our apex predators, Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, enim? Tenetur beatae vero architecto iste blanditiis ipsum cupiditate enim assumenda dignissimos reprehenderit. 
            Similique illo voluptatem officia facere, iste quasi totam.
             <a href="{% url 'cultureBlogs' %}"  class="tomore-btn">Learn more</a>
            </p>
        </li>
      </ul>
    </section>
    <!-- CTA3 -->
    <section class="cta cta3">
      <h1>Fitness goals</h1>
      <p>
        We want to lead by example, we have the best fitness coaches and workout trainers. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, beatae? Fugit voluptatem fuga accusantium ratione
         voluptas sapiente quo consectetur saepe.
        </p>
    </section>
    <a href="#" class="go-top" ><i class="fa-solid fa-dumbbell" style="font-size:1.5em;display:flex"> </i>Go Top</i></a>
    </main>
{% endblock %}