
{% extends 'plans/base.html' %}
{% block content %}
{% load static %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  {% include "interface/header.html" %}
  <!-- <a href="{% url 'join' %}"><button class='button-style'>Get Premium</button></a> -->
</div>
<section class="container-fluid px-0">
  <div class="row align-items-center content">
      <div class="col-md-6 order-2 order-md-1">
          <img class="user-photo img-fluid" src="{% static 'fitness.jpeg' %}" height="150"  width="600" style="margin-left: 50px;"/>
      </div>
      <div class="col-md-6 text-center order-1 order-md-2">
          <div class="row justify-content-center">
              <div class="col-10 col-lg-8 blurb  ">
                  <h2>Ready, sweat, go!</h2>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae beatae, maiores deserunt in voluptatibus aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur repellat eveniet quidem
                      voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam autem nam ex deserunt debitis eaque ratione! Nobis, quidem assumenda.</p>
              </div>
          </div>
      </div>
  </div>
  <div class="row align-items-center content">
      <div class="col-md-6 text-center">
          <div class="row justify-content-center">
              <div class="col-10 col-lg-8 blurb  ">
                  <h2>Set impossible goals, and then prove yourself wrong.</h2>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae beatae, maiores deserunt in voluptatibus aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur repellat eveniet quidem
                      voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam autem nam ex deserunt debitis eaque ratione! Nobis, quidem assumenda.</p>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <img class="user-photo img-fluid" src="{% static 'fitness1.jpeg' %}" height="150"  width="600"  style="margin-left: 50px;" />
      </div>
  </div>
</section>
{% include "interface/articles.html" %}
{% endblock %}

