{% extends 'plans/base.html' %}
{% block content %}
{%load static%}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-5 py-3"><b>EA </b>Fitness Premium</h1>
  <p class="container">
    Get the body you've always dreamed of. Live the healthy life that you know you should. From workouts to nutrition, 
    you have all the tools you need to succeed. It's all yours with <b> EA </b>Fitness Premium.
  </p>
</div>
<div class="container">
<section class="purchase" id="buy-now">
  <div class="container">
    <ul>
      <li>
        <a  href="{%url 'checkout'%}?plan=monthly">
          <strong>Monthly</strong>
          <span class="purchase-description">Detailed Workout Plans</span>
          <span class="purchase-description">Detailed Workout Plans</span>
          <span class="purchase-description">Nutrition Guides</span>
          <span class="purchase-description">Scientific Studies Breakdown</span>
          <span class="purchase-description">6 Months Email Support</span>
          <big class="purchase-price">$10 <small class="text-muted">/ mo</small></big>
          <button  type="button" class="purchase-button" style="background-color:#252129;outline: none;"><a href="{%url 'checkout'%}?plan=monthly">Buy Now</a></button>
        </a>
      </li>
      <li>
        <a  href="{%url 'checkout'%}?plan=yearly">
          <strong>Yearly<span> Save $20! with coupon #evansreferal</span></strong>
          <span class="purchase-description">Detailed Workout Plans</span>
          <span class="purchase-description">Weekly Members Only Email</span>
          <span class="purchase-description">Nutrition Guides</span>
          <span class="purchase-description">Scientific Studies Breakdown</span>
          <span class="purchase-description">1 Year Email Support</span>
          <big class="purchase-price">$100 <small class="text-muted">/yr</small></big>
        <button  type="button" class="purchase-button" style="background-color:#252129;outline: none;"><a href="{%url 'checkout'%}?plan=yearly">Buy Now</a></button>
        </a>
      </li>
    </ul>
  </div>
</section>
</div>
{% endblock %}
