{% extends 'plans/base.html' %}
{% block content %}
{%load static%}
<style>
  a {
text-decoration: none;
}

.purchase {
padding:-1% 0 0;
text-align:center;
/* font-family: "Lato"; */
}
.purchase h1 {
font-size:26px;
letter-spacing:3px;
line-height:40px;
text-transform:uppercase;
}
.purchase p {
font-size: 26px;
line-height: 45px;
max-width:750px;
margin:0 auto;
}
.purchase-trigger {
margin-top:50px;
border:1px solid #f86b24;
border-radius:50px;
font-size:26px;
display:inline-block;
cursor:pointer;
position:relative;
}

.purchase-trigger * {
-webkit-transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
-moz-transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
-o-transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);

-webkit-transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
-moz-transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
-o-transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);

-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.purchase-trigger span {
padding:17px 80px;	
color:#f86b24;
width:246px;
display: inline-block;
}
.purchase-trigger .bubble {
position:absolute;
background:#f86b24;
top:0;
border-radius:50px;
left:0;
height:74px;
width: 246px;
z-index:-1;
}
.purchase-trigger.right .bubble {
margin-left:246px;	
}

.purchase-trigger:not(.right) .annual {
color:#fff;
}
.purchase-trigger.right .monthly {
color:#fff;
}

.purchase ul {
display:table;
margin:70px auto 0;
/* padding:10px; */
width:100%;
max-width:1100px;
}
.purchase li {
display:table-cell;
width:33.333%;
padding:43px 0 0;
-webkit-transition: 0;
-webkit-transition: all 0.25s, color 0s !important;
-moz-transition: all 0.25s, color 0s !important;
-o-transition: all 0.25s, color 0s !important;
transition: all 0.25s, color 0s !important;
position:relative;
z-index:0;
border:1px solid #BBB;
}

.purchase li:first-child {
position:relative;
right:-1px;	
}
.purchase li:last-child {
position:relative;
left:-1px;	
}


.purchase li:hover {
box-shadow: 0 13px 48px rgba(0, 0, 0, 0.2);
z-index:1;
color:#fff;
background:#f86b24;
}

.purchase li * {
-webkit-transition: 0 !important;
-moz-transition: 0 !important;
-o-transition: 0 !important;
transition: 0 !important;
}

.purchase li:hover * {
color:#fff !important;
border-color:rgba(255, 255, 255, 0.27) !important;
}



.purchase li strong {
font-size:19px;
text-transform:uppercase;
color:#2F3740;
letter-spacing:2.4px;
line-height:45px;
font-weight:400;
margin-bottom: 25px;
display: inline-block;
}

.purchase ul .purchase-description {
display:block;
font-size:19px;

line-height:30px;
}

.purchase .purchase-price {
font-size:84px;
letter-spacing:2px;
padding-top:20px;
display:block;
font-weight:400;
padding-bottom:12px;
}
.purchase .purchase-button {
text-transform:uppercase;
font-size:19px;
color:#2F3740 !important;
text-decoration:none;
line-height:1;
padding:28px 0 24px;
border-top:1px solid #bbb !important;
width:100%;
display:inline-block;
margin-top:6px;
display:block;
}
.purchase li:hover .purchase-button {
-webkit-transition: 0;
-moz-transition: 0;
-o-transition: 0;
transition: 0;
}


.purchase ul a:hover {
color:#f86b24;
}

.purchase ul a, .purchase ul a:hover .purchase-price, .purchase ul a:hover .purchase-description {
color:#6C6C6C;
}
</style>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-5 py-3">Evans Fitness Premium</h1>
  <p>
    Get the body you've always dreamed of. Live the healthy life that you know you should. From workouts to nutrition, 
    you have all the tools you need to succeed. It's all yours with Evans Fitness Premium.
  </p>
</div>
<div class="container">
  <!-- <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Monthly</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$10 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Detailed Workout Plans</li>
          <li>Nutrition Guides</li>
          <li>Scientific Studies Breakdown</li>
          <li>Weekly Members Only Email</li>
        </ul>
        <a href="{%url 'checkout'%}?plan=monthly"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Get started</button></a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Yearly<small class="text-primary "> <span> Save $20!</span></small></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$100 <small class="text-muted">/ yr</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Detailed Workout Plans</li>
          <li>Nutrition Guides</li>
          <li>Scientific Studies Breakdown</li>
          <li>Weekly Members Only Email</li>
        </ul>
        <a href="{%url 'checkout'%}?plan=yearly"><button type="button" class="btn btn-lg btn-block btn-primary">Get started</button></a>
      </div>
    </div>
  </div> -->
<section class="purchase" id="buy-now">
  <div class="container">
    <ul>
      <li>
        <a  href="{%url 'checkout'%}?plan=monthly">
          <strong>Monthly</strong>
          <span class="purchase-description">Detailed Workout Plans</span>
          <span class="purchase-description">Detailed Workout Plans</span>
          <span class="purchase-description">Nutrition Guides</span>
          <span class="purchase-description">Scientific Studies Breakdown</span>
          <span class="purchase-description">6 Months Email Support</span>
          <big class="purchase-price">$10 <small class="text-muted">/ mo</small></big>
          <button  type="button" class="purchase-button"style="background-color:#252129;outline: none;"><a href="{%url 'checkout'%}?plan=monthly">Buy Now</a></button>
        </a>
      </li>
      <li>
        <a  href="{%url 'checkout'%}?plan=yearly">
          <strong>Yearly<span> Save $20! with coupon #evansreferal</span></strong>
          <span class="purchase-description">Detailed Workout Plans</span>
          <span class="purchase-description">Weekly Members Only Email</span>
          <span class="purchase-description">Nutrition Guides</span>
          <span class="purchase-description">Scientific Studies Breakdown</span>
          <span class="purchase-description">1 Year Email Support</span>
          <big class="purchase-price">$100 <small class="text-muted">/yr</small></big>
        <button  type="button" class="purchase-button" style="background-color:#252129;outline: none;"><a href="{%url 'checkout'%}?plan=yearly">Buy Now</a></button>
        </a>
      </li>
      <!-- <li>
        <a href="/startup-wordpress/?add-to-cart=121022">
          <strong>Five Licenses</strong>
          <span class="purchase-description">Detailed Workout Plans</span>
          <span class="purchase-description">Nutrition Guides</span>
          <span class="purchase-description">Scientific Studies Breakdown</span>
          <big class="purchase-price">$349</big>
          <span class="purchase-button">Buy Now</span>
        </a>
      </li> -->
    </ul>
  </div>
</section>
</div>
{% endblock %}
