{% extends 'plans/base.html' %}
{% block content %}
{%load static%}
<section class="join">
  <h1 class="join-header"><b>EA </b>Fitness Premium</h1>
  <p>
    Get the body you've always dreamed of. Live the healthy life that you know you should. From workouts to nutrition, 
   <br/> you have all the tools you need to succeed. It's all yours with <b> EA </b>Fitness Premium.
  </p>
</section>
<div class="pricing-container">
  <div class="pricing-columns">
    <ul class="plan-price">
      <li class="plan-header" style="background-color:#094049;">Monthly</li>
      <li class="grey">$10 / month
      </li>
      <li>Detailed Workout Plans</li>
      <li>Nutrition Guides</li>
      <li>Scientific Studies Breakdown</li>
      <li>Monthy Email Support</li>
      <li class="grey"><a  href="{%url 'checkout'%}?plan=monthly" class="pricing-button">Subscribe</a></li>
    </ul>
  </div>
  <div class="pricing-columns">
    <ul class="plan-price">
      <li class="plan-header">Yearly</li>
      <li class="grey">$100/ year</li>
      <li>Detailed Workout Plans</li>
      <li>Nutrition Guides</li>
      <li>Scientific Studies Breakdown</li>
      <li>1 Year Email Support</li>
      <li class="grey"><a  href="{%url 'checkout'%}?plan=yearly" class="pricing-button">Subscribe</a></li>
    </ul>
  </div>
</div>
{% endblock %}
