<!-- Footer -->
  <footer>
    <!-- Contact Form -->
    <section class="form" id="contact">
      <h3>Got questions? Get in touch with our team of experts</h3>
      <p class="formIntro">If you'd like more information about any of our works, please reach out and we will contact you promptly.</p>
    </section>
    <!-- Social Media -->
    <section class="social">
      <article>
        <h3>Let's stay connected!</h3>
        <div class="socialIcons">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </article>
    </section>
    <!-- Contact Info -->
    <section class="contactInfo">
      <article>
        <h4>Contact Information</h4>
        <ul>
          <li>Phone: 123-456-7890</li>
          <li>Email: info@eafitness.com</li>
        </ul>
        <p class="copy">EA Fitness &copy;2022 All Rights Reserved</p>
      </article>
    </section>
  </footer>