{% load static %}
<section style="height: 4.7% !important;display: flex;background-color:aliceblue">
  <div style="margin-top:5px;font-size:1.2em;padding-left: 5px;  font-family: Righteous, cursive;">
    <span>
      Stay connected
    </span>
      <a href="#" target="_blank" class="top-header-icon" style="text-decoration:none">
        <i
          class="fa-brands fa-facebook-square fa-lg"
          style="color: #3b5998;"
        ></i>
      </a>
      <a  href="#" target="_blank" class="top-header-icon" >
        <i class="fa-brands fa-linkedin fa-lg" style="color: #0072b1"></i>
      </a>
      <a href="#" target="_blank" class="top-header-icon" >
        <i
          class="fa-brands fa-twitter-square fa-lg"
          style="color: #1d9bf0"
        ></i>
      </a>
      <a href="#" target="_blank" class="top-header-icon" >
        <i
          class="fa-brands fa-youtube-square fa-lg"
          style="color: #b2071d"
        ></i>
      </a>
  </div>

  <div  style="margin-top:5px;font-size:1.2em;margin-left: auto; font-family: Righteous, cursive;">
      {% if user.is_authenticated %}
      <span style="padding:4px">
          Hi, {{user.username}}
      </span>
      {%else%}
        <span style="padding: 4px;font-size:1em">
          Not signed in
        </span>
      {%endif%}
  </div>
</section>

  <!-- header / hero -->
  <header class="hero" id="home">
    <article>
      <div class="gopremium-wrapper">
        <a class="header-button"  href="{% url 'join' %}">Premium <i class="fa-solid fa-dumbbell fa-lg"> </i></a>
    </div>
    </article>
  </header>
