<div id="fixed-social">
    <div>
      <a href="#" class="fixed-facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></i> <span>Facebook</span></a>
    </div>
    <div>
      <a href="#" class="fixed-twitter" target="_blank"><i class="fa-brands fa-twitter"></i></i> <span>Twitter</span></a>
    </div>
    <div>
      <a href="#" class="fixed-gplus" target="_blank"><i class="fa fa-google"></i> <span>Google+</span></a>
    </div>
    <div>
      <a href="#" class="fixed-linkedin" target="_blank"><i class="fa-brands fa-linkedin-in"></i></i> <span>LinkedIn</span></a>
    </div>
    <div>
      <a href="#" class="fixed-instagrem" target="_blank"><i class="fa-brands fa-instagram"></i></i> <span>Instagram</span></a>
    </div>
  </div>