<div class="social-container">
  <nav id="social-sidebar">
    <ul>
      <li>
        <a
          href="https://facebook.com/hickhacks"
          class="entypo-facebook"
          target="_blank"
        >
          <span>Facebook</span>
          <i class="fa-brands fa-facebook fa-xl"></i>
        </a>
      </li>

      <li>
        <a
          href="https://twitter.com/HickHacks1"
          class="entypo-twitter"
          target="_blank"
        >
          <span>Twitter</span>
          <i class="fa-brands fa-twitter-square fa-xl"></i>
        </a>
      </li>

      <li>
        <a
          href="https://plus.google.com/117848122154379646848"
          class="entypo-gplus"
        >
          <span>Google+</span>
          <i class="fa-brands fa-google-plus-square fa-xl"></i>
        </a>
      </li>
      <li>
        <a
          href="http://hickhacks.blogspot.in/feeds/posts/default?alt=rss"
          class="entypo-rss"
        >
          <span>RSS</span>
          <i class="fa-solid fa-square-rss fa-xl"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
