<!-- 
 <ul id="social-sidebar">
  <li>
    <a class="entypo-twitter"><span>Tweeter</span>
      <i class="fa-brands fa-twitter-square fa-xl"></i>
    </a>
  </li>
  <li>
    <a class="entypo-facebook"><span>Facebook</span>
      <i class="fa-brands fa-facebook fa-xl"></i>
    </a>
  </li>
  <li>
    <a class="entypo-gplus"><span>Google+</span>
      <i class="fa-brands fa-google-plus-square fa-xl"></i>
    </a>
  </li>
  <li>
    <a class="entypo-rss">
      <span>RSS</span>
      <i class="fa-solid fa-square-rss fa-xl"></i>
    </a>
  </li>
</ul> -->